/**
 * Kevin's BBQ Joints
 * v0.1 3/25/2010 Christine Cheung
 */

@import "reset.css";

body {
	font: .85em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif; 
	background: #bfbcb4 url(../img/bg.png);
	text-align: center;
	margin: 0;
	padding: 0;
}

h3 {
	font-weight: bold;
	font-size: 1.5em;
	margin: 0 0 5px 0;
}

a {
	color: #951a1a;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

p {
	margin: 0 0 10px 0;
}

i, em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}


/**
 * Selectors
 */

#container {
	margin: 0 auto;
	width: 960px;
	text-align: left;
	background: #d6d3ca;
	padding: 0;
}

#header-container {
	background: #ecebe7;
	padding: 15px 0 10px 0;
}
#header {
	background: url(../img/header.png) top left no-repeat;
	width: 469px;
	height: 124px;
	text-indent: -9999px;
}
#header a {
	width: 469px;
	height: 124px;
	display: block;
}

/* Navigation Top */
#nav {
	height: 40px;
	background: #951a1a;
}
#nav ul {
	padding: 9px 0 0 27px;
}
#nav ul li {
	margin: 0 25px 0 0;
	display: inline;
	text-transform: uppercase;
}
#nav ul li a {
	color: #e9eae3;
	letter-spacing: .07em;
	text-decoration: none;
}

/* Search Bar */
#joint-search {
	height: 43px;
	background: #382810;
	padding: 10px 0 0 40px;
}
#joint-search-bar {
	width: 775px;
	height: 45px;
	background: url(../img/joint_search.png) top left no-repeat;
}
#joint-search-bar form {
	margin: 0 0 0 390px;
}
#joint-search-bar .input input {
	float: left;
	width: 250px;
	height: 25px;
}
#joint-search-bar .submit input {
	float: left;
	width: 75px;
	height: 45px;
	margin: -12px 0 0 5px;
	background: url(../img/go.png) top left no-repeat;
	border: none;
	text-indent: -9999px;
	cursor: pointer;
}
#joint-search-bar label {
	display: none;
}

/**
 * Content
 */
#content-container {
	width: 756px;
	margin: 10px 10px 15px 10px;
	float: left;
}
#content-top {
	width: 736px;
	height: 46px;
	background: url(../img/content_top.png) top left no-repeat;
	padding: 10px 0 0 20px;
}
#content-top h2 {
	font: bold 1.9em Arial Black, Arial, Helvetica;
	text-transform: uppercase;
}
#content-top h2 a {
	color: #000;
}
#content {
	background: #fbfaf7;
	margin-top: -1px;
	padding: 15px 20px;
	overflow: auto;
}
#content-footer {
	width: 756px;
	height: 14px;
	background: url(../img/content_footer.png) top left no-repeat;
}
/* State Listing Table */
#content #states {
	margin: auto;
}
#content #states tr td {
	padding: 12px 20px;
}
#content #states a {
	font-size: 1.3em;
	text-decoration: none;
}
#content #states a:hover {
	text-decoration: underline;
}
/* Listing of Joints */
#content ul #joints {
	list-style: none;
}
#content #joints li a {
	font-size: 1.2em;
}
#content #joints li {
	margin: 10px;
}

/* Joint View Page */
.bbqJoint {
	float: left;
	width: 350px;
}
#jointMap {
	float: right;
	width: 350px;
	height: 350px;
}

/* Search Results */
ol#searchResults {
	float: left;
	width: 330px;
	margin: 10px 0 0 30px;
}
#searchResults li {
	list-style-type: decimal;
	margin: 0 0 10px 0;
}

/* Flash Message */
#flashMessage {
	font-style: italic;
	border: 1px solid #666;
	padding: 5px;
	margin: 0 0 5px 0;
}

.input {
	padding: 0 0 5px 0;
}
.input label {
	padding: 0 10px 0 0;
}
.login {
	width: 250px;
	border: 1px solid #999;
	padding: 15px 10px 10px 10px;
}
.login legend {
	font-weight: bold;
	padding: 0 0 10px 0;
}
.login input {
	float: right;
}
.login button {
	float: right;
}

/* Ad Skyscraper Right */
#ad-right {
	width: 150px;
	height: 570px;
	color: #888;
	font-style: italic;
	border: 1px solid #999;
	padding: 5px;
	margin: 10px 15px 20px 0;
	float: right;
}

/* Front Promo Boxes */
.promote-box {
	width: 246px;
	height: 167px;
	background: url(../img/promo_box.png) top left no-repeat;
	float: left;
	margin: 0 0 15px 10px;
}

/* Admin Footer */
#adminFooter {
	clear: both;
	padding: 15px 0 0 10px;
}

/**
 * Footer
 */
#footer {
	font-size: .8em;
	font-weight: bold;
	text-transform: uppercase;
	height: 33px;
	background: #951a1a;
	padding: 12px 0 0 0;
	clear: both;
}
ul#nav-footer {
	width: 525px;
	margin: 0 0 0 25px;
	float: left;
}
ul#nav-footer li {
	display: inline;
	margin: 0 10px 0 0;
}
ul#nav-footer li a {
	color: #000;
	text-decoration: none;
}

#copyright {
	margin: 0 25px 0 0;
	text-align: right;
	float: right;
}
